# Ignore Python virtual environment files
backend/venv
backend/env/
backend/.venv/
backend/.env/

# Python compiled files
backend/app/__pycache__/
*.pyc
*.pyo

# Ignore Node.js dependencies
frontend/node_modules/

# Ignore build artifacts
build/
dist/
*.pyc

# Ignore environment configuration files (e.g., .env for environment variables)
.env

# Dependency directories
backend/venv/lib/
lib64/
site-packages/

# Ignore operating system-specific files
.DS_Store
Thumbs.db

# Ignore user-specific files or directories
*.log

# User-specific files
.DS_Store
.vscode/*
.idea/*
.gitignore